body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: #3650e6;
}

.header ul a {
    text-decoration: none !important;
    color: #fff;
    font-size: 14px;
}

.switch .switch-btn {
    display: block;
    width: 32px;
    height: 20px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(112, 113, 146);
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.switch .switch-btn::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0cafa7;
    right: 2px;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.switch input:checked+.switch-btn::after {
    right: 14px;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.switch input:checked+.switch-btn {
    background-color: #262b35;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.main p {
    font-size: 14px;
}

.cart span {
    font-size: 14px;
}

.cart .imgBox {
    width: 100%;
    height: 265px;
}

.cart .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.App[data-theme='dark'] {
    background-color: #201d1e;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.App[data-theme='light'] {
    background-color: #fff;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.App[data-theme='dark'] .theme-text-color {
    color: #fff;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.App[data-theme='light'] .theme-text-color {
    color: #2d3436;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.App[data-theme='dark'] .theme-bg-color {
    background-color: #312d2f;
    border-color: #4d494b !important;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}